
body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

a {
  text-decoration: none;
  color: inherit;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #2a9d8f;
  color: black;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-links a {
  margin-left: 20px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.header-links a:hover {
  color: #e9c46a;
}


.hero {
  height: 80vh;
  background: url("../public/poza2.jpg") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2a9d8f; 
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #FF0000; 
}


.event-container {
  padding: 50px;
  text-align: center;
}

.event-card {
  background-color: white;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  text-align: center;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-buttons button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #2a9d8f;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-buttons button:hover {
  background-color: #264653;
}


.footer {
  background-color: #2a9d8f;
  color: white;
  padding: 20px 50px;
  text-align: center;
  margin-top: auto; 
  width: 100%; 
}
